html,
body {
  height: 100%;
  font-family: "宋体";
}
body {
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.stage {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-linear-gradient(45deg, #009999c0, #cc3366a9), -webkit-linear-gradient(135deg, #66336685, #cc99cc7c);
  background-image: -moz- oldlinear-gradient(45deg, #009999c0, #cc3366a9), -moz- oldlinear-gradient(135deg, #66336685, #cc99cc7c);
  background-image: -o-linear-gradient(45deg, #009999c0, #cc3366a9), -o-linear-gradient(135deg, #66336685, #cc99cc7c);
  background-image: linear-gradient(45deg, #009999c0, #cc3366a9), linear-gradient(-45deg, #66336685, #cc99cc7c);
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-perspective: 1500px;
     -moz-perspective: 1500px;
          perspective: 1500px;
}
.stage .w {
  width: 30%;
  max-width: 360px;
  -webkit-transition: inherit;
  -o-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
}
.stage .card {
  width: 100%;
  padding-bottom: 140%;
  max-height: 480px;
  background: url("600x600.jpg") red no-repeat;
  -moz-background-size: cover;
       background-size: cover;
  background-position: center;
  color: white;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  position: relative;
  -webkit-transform-origin: 50% 50% 100px;
     -moz-transform-origin: 50% 50% 100px;
      -ms-transform-origin: 50% 50% 100px;
       -o-transform-origin: 50% 50% 100px;
          transform-origin: 50% 50% 100px;
  -webkit-transition: inherit;
  -o-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
  -webkit-transform: translateZ(200px);
     -moz-transform: translateZ(200px);
          transform: translateZ(200px);
  z-index: 2;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.stage .card .mask {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  -webkit-transition: inherit;
  -o-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
}
.stage .card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  -webkit-transition: inherit;
  -o-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
  background: rgba(42, 33, 22, 0.397);
  z-index: -1;
}
.stage .card::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  -webkit-transition: inherit;
  -o-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
  background: rgba(0, 0, 0, 0.842);
  -webkit-transform: translateZ(-15px);
     -moz-transform: translateZ(-15px);
          transform: translateZ(-15px);
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.733);
     -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.733);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.733);
}
.stage .card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: inherit;
  -o-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
}
.stage .card .content h1,
.stage .card .content h3 {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.stage .card .content h1 {
  font-size: 36px;
  -webkit-transform: translateZ(50px);
     -moz-transform: translateZ(50px);
          transform: translateZ(50px);
}
.stage .card .content h3 {
  line-height: 4em;
  -webkit-transform: translateZ(40px);
     -moz-transform: translateZ(40px);
          transform: translateZ(40px);
}
.stage .card .content ul.chart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: inherit;
  -o-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
}
.stage .card .content ul.chart li {
  width: 20px;
  height: 20px;
  background: white;
  margin: 0 10px;
  position: relative;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
  color: transparent;
  -webkit-transform: rotate(-60deg);
     -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
       -o-transform: rotate(-60deg);
          transform: rotate(-60deg);
  text-align: right;
}
.stage .card .content ul.chart li span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  background: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: inherit;
  -o-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
}
.stage .card .content ul.chart li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  -webkit-transition: inherit;
  -o-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
  content: "20000";
  width: 0;
  background: -webkit-gradient(linear, left top, right top, from(#949494), to(white));
  background: -webkit-linear-gradient(left, #949494, white);
  background: -moz- oldlinear-gradient(left, #949494, white);
  background: -o-linear-gradient(left, #949494, white);
  background: linear-gradient(to right, #949494, white);
  left: auto;
  right: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-transform-origin: right bottom;
     -moz-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
       -o-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: rotateY(-90deg) translateZ(20px);
     -moz-transform: rotateY(-90deg) translateZ(20px);
          transform: rotateY(-90deg) translateZ(20px);
  padding-right: 20px;
}
.stage .card .content ul.chart li::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  -webkit-transition: inherit;
  -o-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
  width: 0;
  background: -webkit-gradient(linear, left top, right top, from(#949494), to(white));
  background: -webkit-linear-gradient(left, #949494, white);
  background: -moz- oldlinear-gradient(left, #949494, white);
  background: -o-linear-gradient(left, #949494, white);
  background: linear-gradient(to right, #949494, white);
  left: auto;
  right: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-transform-origin: right bottom;
     -moz-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
       -o-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: rotateY(-90deg) rotateX(-90deg);
     -moz-transform: rotateY(-90deg) rotateX(-90deg);
          transform: rotateY(-90deg) rotateX(-90deg);
}
.stage .card .content p {
  font-size: 36px;
  line-height: 3em;
  -webkit-transform: translateZ(10px);
     -moz-transform: translateZ(10px);
          transform: translateZ(10px);
}
.stage.active .card {
  -webkit-transform: translateZ(200px) rotateX(60deg);
     -moz-transform: translateZ(200px) rotateX(60deg);
          transform: translateZ(200px) rotateX(60deg);
}
.stage.active .card::before {
  background: rgba(16, 47, 68, 0.466);
}
.stage.active .card .content h1,
.stage.active .card .content h3 {
  opacity: 0;
}
.stage.active .card .content ul.chart li {
  color: black;
}
.stage.active .card .content ul.chart li span {
  color: black;
}
.stage.active .card .content ul.chart li:nth-of-type(1) {
  -webkit-transform: rotate(-60deg) translateZ(100px);
     -moz-transform: rotate(-60deg) translateZ(100px);
          transform: rotate(-60deg) translateZ(100px);
}
.stage.active .card .content ul.chart li:nth-of-type(1)::before,
.stage.active .card .content ul.chart li:nth-of-type(1)::after {
  width: 100px;
}
.stage.active .card .content ul.chart li:nth-of-type(2) {
  -webkit-transform: rotate(-60deg) translateZ(150px);
     -moz-transform: rotate(-60deg) translateZ(150px);
          transform: rotate(-60deg) translateZ(150px);
}
.stage.active .card .content ul.chart li:nth-of-type(2)::before,
.stage.active .card .content ul.chart li:nth-of-type(2)::after {
  width: 150px;
}
.stage.active .card .content ul.chart li:nth-of-type(3) {
  -webkit-transform: rotate(-60deg) translateZ(80px);
     -moz-transform: rotate(-60deg) translateZ(80px);
          transform: rotate(-60deg) translateZ(80px);
}
.stage.active .card .content ul.chart li:nth-of-type(3)::before,
.stage.active .card .content ul.chart li:nth-of-type(3)::after {
  width: 80px;
}
.stage.active .card .content ul.chart li:nth-of-type(4) {
  -webkit-transform: rotate(-60deg) translateZ(130px);
     -moz-transform: rotate(-60deg) translateZ(130px);
          transform: rotate(-60deg) translateZ(130px);
}
.stage.active .card .content ul.chart li:nth-of-type(4)::before,
.stage.active .card .content ul.chart li:nth-of-type(4)::after {
  width: 130px;
}
.stage.active .card .content ul.chart li:nth-of-type(5) {
  -webkit-transform: rotate(-45deg) translateZ(90px);
     -moz-transform: rotate(-45deg) translateZ(90px);
          transform: rotate(-45deg) translateZ(90px);
}
.stage.active .card .content ul.chart li:nth-of-type(5)::before,
.stage.active .card .content ul.chart li:nth-of-type(5)::after {
  width: 90px;
}
/*# sourceMappingURL=./style.css.map */