.secure{
  padding-top: 46px;
  /deep/ .van-nav-bar__text{
    color: #0C34BA;
  }

  /deep/ .van-nav-bar .van-icon{
    color: #0C34BA;
  }

  .secure-bg{
    height: 230px;
    // background-color: #0C34BA;
    background: url("../images/coffee.png");
    background-size: 100%;
  }

  .secure-box{
    margin: -30px 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    padding: 10px;
  }

  .btn-box{
    margin-top: 100px;
    padding: 10px;
  }

  .password-text{
    font-size: 18px;
    margin-bottom: 30px;
  }
  .popup-item{
    padding: 20px;
  }

  .login-btn{
    margin-top: 40px;
  }
  .popup-box{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}